---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Link } from "@heroui/react";

const projects = await getCollection("projects");
---

<Layout title="Projects" description="A collection of my projects.">
  <div class="flex flex-col items-center justify-center min-h-screen">
    {
      projects
        .sort(
          (a, b) =>
            new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
        )
        .map((project) => (
          <div class="flex items-center gap-6 max-w-4xl mx-auto p-6">
            <div class="flex-1">
              <h3 class="text-xl font-bold mb-2">
                {project.data.name} ({new Date(project.data.date).getFullYear()}
                )
              </h3>
              <div class="mb-4">
                <i class="block mb-2">{project.data.description}</i>
                <div class="space-x-1">
                  <Link href={`/projects/${project.data.id}`}>About</Link>
                  <span>|</span>
                  <Link href={project.data.github}>GitHub Page</Link>
                  {project.data.website && (
                    <>
                      <span>|</span>
                      <Link href={project.data.website}>Website</Link>
                    </>
                  )}
                </div>
              </div>
            </div>

            <div>
              {project.data.website && project.data.website !== "None" ? (
                <a href={project.data.website}>
                  <img
                    src={`/assets/${project.data.logo}`}
                    alt={`${project.data.name} logo`}
                    class="w-32 h-32 object-contain"
                  />
                </a>
              ) : (
                <img
                  src={`/assets/${project.data.logo}`}
                  alt={`${project.data.name} logo`}
                  class="w-32 h-32 object-contain"
                />
              )}
            </div>
          </div>
        ))
    }
  </div>
</Layout>
